<div class="container">
	<div class="row">
		<div class="col-md-8 col-offset-3">
      <div class="row">
      <p id="notice"><%= notice %></p>
      <h2>All Marmoset Rides</h2>
        <% @rides.each do |ride| %>
        <div class="col-md-4">
          <h4><%= ride.date.to_formatted_s(:long_ordinal) %></h4>
        </div>
        <div class="col-md-3">
          <h4><%= link_to ride.user.name, user_path(ride.user) %></h4>
        </div>
        <div class="col-md-1">
          <h4><%= link_to 'Show', ride %></h4>
        </div>
        <div class="col-md-1">
          <h4><%= link_to 'Edit', edit_ride_path(ride) %></h4>
        </div>
        <div class="col-md-1">
          <h4><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
        </div>
        <% end %>
      </div>
      <h4><%= link_to 'Home', new_ride_path %></h4>
    </div>
  </div>
</div>
