<p id="notice"><%= notice %></p>

<div class="">
  <table>
    <th><strong>Your Riding Log:</strong></th>
    <tr>
      <td><strong>Rider</strong></td>
      <td><strong>Date</strong></td>
    </tr>
    <tr>
      <td><%= @ride.user.name %></td>
      <td><%= @ride.date %></td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
