<p id="notice"><%= notice %></p>

<div class="">
  <table>
    <tr>
      <td><strong>Rider</strong></td>
      <td><strong>Date</strong></td>
    </tr>
    <tr>
      <td><%= @ride.user.name %></td>
      <td><%= @ride.date.to_formatted_s(:long_ordinal) %></td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', root_path %>
