<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @ride.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @ride.user %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
